
kdsvd/events.out.tfevents.1622039740.LAPTOP-5D4NKJ50
*.LAPTOP-5D4NKJ50
.vs/KD_methods_with_TF/v16/.suo
.vs/KD_methods_with_TF/v16/.suo
*.sqlite
*.json
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/KD_methods_with_TF/v16/.suo
